<Configuration>
   <project id="admin">
       <firstlevel desc="内容管理" >
           <secondlevel desc="文章管理" url="/admin/atcp/articlescrapList"></secondlevel> 
           <secondlevel desc="轮播图管理" url="/admin/cul/carouselList"></secondlevel>
           <secondlevel desc="推荐管理" url="/admin/rcma/recommedArticlescrapList"></secondlevel>
           <secondlevel desc="频道管理" url="/admin/channel/list"></secondlevel>
           <secondlevel desc="首页配置管理" url="/admin/idxcfg/list"></secondlevel>
           <secondlevel desc="文章审核管理" url="/admin/pding/docms"></secondlevel>   
       </firstlevel>
       <firstlevel desc="广告管理" >
           <secondlevel desc="广告内容管理" url="/admin/ad/adList"></secondlevel> 
       </firstlevel>
       <firstlevel desc="反馈管理" >
           <secondlevel desc="前台反馈管理" url="/admin/ffb/feedBackList"></secondlevel> 
           <secondlevel desc="后台反馈管理" url="/admin/afb/feedBackList"></secondlevel> 
       </firstlevel>
       <firstlevel desc="后台用户管理" >
           <secondlevel desc="权限管理" url="/admin/admin/athrtyList"></secondlevel> 
           <secondlevel desc="角色管理" url="/admin/admin/roleList"></secondlevel>
           <secondlevel desc="用户管理" url="/admin/adnur/adminList"></secondlevel>
           <secondlevel desc="操作日志" url="/admin/oprtlg/list"></secondlevel>
       </firstlevel>
   </project>
</Configuration>
